# BIG-IP Environment
f5_username                = "azureuser"
AllowedIPs                 = ["0.0.0.0/0"]
azure_keyvault_secret_name = "bigip_admin_password"

# Azure Environment
sp_subscription_id = "xxxxx"
sp_client_id       = "xxxxx"
sp_client_secret   = "xxxxx"
sp_tenant_id       = "xxxxx"
location           = "westus2"

# Prefix for objects being created
prefix = "mydemo123"
